<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> App Skeleton </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">App Skeleton</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img style="border-radius: 20px ;"
        alt="Silhouette of mountains"
        src="assets/imagenes/informatica.jpg"
      />
      <ion-card-header>
        <ion-card-title>App Skeleton</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem facere nihil maiores eius eos minus nostrum tempore animi dolorem placeat, tenetur harum sapiente laborum architecto suscipit deleniti quasi deserunt esse?
        <ion-button (click)="Irlogin()">Login</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
